{{ define "preload" }}
	{{ range first 3 .Pages.ByDate.Reverse }}
		<link rel="prefetch" href="{{ .RelPermalink }}">
	{{ end }}
{{ end }}

{{ define "main" }}
<main>
	<h1 aria-label="{{ .Title }}">{{ lower .Title }}</h1>
	{{- .Content -}}
</main>

<div class="til-list">
	<ul>
		{{ range .Pages.ByDate.Reverse }}
		<li>
			<a href="{{ .RelPermalink }}" aria-label="{{ .LinkTitle }} on {{ .Date.Format "Monday, January 2, 2006" }}">
				<span class="t">{{ lower .LinkTitle | markdownify }}</span>
				<time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2 Jan, 2006" }}</time>
			</a>
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}
