{{ define "main" }}
<main>
	<div class="page-title">
		<h1>
			<a href="/til">til</a>/{{ .Page.Title }}
		</h1>
	</div>

	<div class="md-content">{{- .Content -}}</div>
</main>
{{ end }}

{{ define "tail" }}
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@graph": [
		{
			"@type": "LearningResource",
			"@id": {{ print .Page.Permalink "#til" }},
			"isPartOf": {
				"@id": {{ .Page.Permalink }}
			},
			"mainEntityOfPage": {
				"@id": {{ .Page.Permalink }}
			},
			"author": {
				"@type": "Person",
				"name": "Marais Rossouw",
				"url": {{ .Site.Home.Permalink }}
			},
			"name": {{ .Page.Title }},
			"datePublished": {{ time .Page.Date }},
			"keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}],
			"inLanguage": "en-AU",
			"license": "https://creativecommons.org/licenses/by-nc-sa/4.0/"
		},
		{
			"@type": "WebPage",
			"@id": {{ .Page.Permalink }},
			"url": {{ .Page.Permalink }},
			"name": "{{ $.Site.Title }} — {{ $.Title }}",
			"datePublished": {{ time .Page.Date }},
			"description": {{ .Summary | plainify | safeHTML }},
			"breadcrumb": {
				"@id": {{ print .Page.Permalink "#breadcrumb" }}
			},
			"inLanguage": "en-AU"
		},
		{
			"@type": "BreadcrumbList",
			"@id": {{ print .Page.Permalink "#breadcrumb" }},
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"name": "Home",
					"item": {{ .Site.Home.Permalink }}
				},
				{
					"@type": "ListItem",
					"position": 2,
					"name": "til",
					"item": "https://marais.io/til/"
				},
				{
					"@type": "ListItem",
					"position": 3,
					"name": {{ .Page.Title }}
				}
			]
		}
	]
}
</script>
{{ end }}