{% set title = 'Marais Rossouw | Creative Enthusiast' %}
{% set meta_title = 'Marais Rossouw is a Creative Enthusiast' %}
{% set meta_description = '' %}

{% set pageClass = 'page-home' %}
{% set page = '' %}

{% extends 'layout.html' %}

{% block body %}

<div class="vandal">
	<header role="header" class="titler">
		<div class="titler__wrap">
			<h1 class="titler__heading">
				<span class="titler__heading__bit">MARAIS</span>
			</h1>
			<div class="titler__misc">
				<a href="https://github.com/maraisr" target="_blank" title="Visit my GitHub">GitHub</a><a href="https://www.linkedin.com/in/maraisr" target="_blank" title="Connect with me on LinkedIn.">LinkedIn</a>
			</div>
		</div>
	</header>
</div>

{% endblock %}
