@lost gutter 25px;
@lost flexbox flex;
@lost cycle none;
@lost clearing left;

@import 'normalize-scss';

@include normalize();

$fonts: (
	'geomanist': ('bold': 700, 'regular': 400),
	'lora': ('bold': 700, 'regular': 400, 'italic': 400)
);

@each $name, $weights in $fonts {
	@each $type, $weight in $weights {
		@font-face {
			font-family: $name;
			src: url('fonts/#{$name}-#{$type}.eot');
			src: url('fonts/#{$name}-#{$type}.eot?#iefix') format('embedded-opentype'),
			url('fonts/#{$name}-#{$type}.woff2') format('woff2'),
			url('fonts/#{$name}-#{$type}.woff') format('woff'),
			url('fonts/#{$name}-#{$type}.ttf') format('truetype'),
			url('fonts/#{$name}-#{$type}.svg') format('svg');
			font-weight: $weight;

			@if ($type == 'italic') {
				font-style: italic;
			} @else {
				font-style: normal;
			}
		}
	}
}

/*
COLOURS
https://color.adobe.com/zephyr-train-color-theme-6333671/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20zephyr%20train&mode=rgb&rgbvalues=0.843137,0.796078,0.729412,0.0431373,0.690196,0.486275,0.705882,0.564706,0.356863,0.10000004636364163,0.10499995943181287,0.11,0.729412,0.12549,0.184314&swatchOrder=0,1,2,3,4
*/

:root {
	font: 400 16px/1.2 lora, gerogia, serif;

	box-sizing: border-box;

	@media print {
		font-size: 12px;
	}
}

*, *:before, *:after {
	box-sizing: inherit;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;

	-webkit-tap-highlight-color: transparent;
}

::selection {
	background-color: #E6B6B1;
	color: white;
}

html {
	background-color: #1A1B1C;
	color: white;

	border: 25px solid lighten(#1A1B1C, 5%);

	@media print {
		background-color: transparent;
		border: none;

		color: #1A1B1C;
	}
}

body {
	direction: ltr;
	unicode-bidi: embed;

	background: transparent;

	@media print {
		padding: 20px;
	}
}

h1, h2, h3, h4, p {
	margin: 0;
}

h2 {
	font-size: 34px;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

figure {
	margin: 0;

	font-size: 0;
	line-height: 1;

	img {
		width: 100%;
		height: auto;
	}

	figcaption {
		font-size: 16px;
	}
}

@mixin mscr($width) {
	@media only screen and (min-width: $width) {
		@content;
	}
}
