.footer {
	@extend %container;

	padding: 50px $bodyBorder;

	text-align: center;

	@media print {
		display: none;
	}

	&__quote {
		margin-bottom: 48px;

		q {
			display: block;
			font-size: 20px;
			font-family: lora, gerogia, serif;
		}

		small {
			display: block;
			margin-top: 5px;
			color: #7A7A7A;
		}
	}

	&__imprint {
		margin-bottom: 48px;

		color: darken(white, 30%);
		font-size: 12px;

		span {
			padding: 0 10px;
		}

		button {
			margin: 0;
			padding: 0;

			box-shadow: none;
			text-shadow: none;

			border: none;
			background: none;

			line-height: 1;
			outline: none;
			color: inherit;

			touch-action: manipulation;

			cursor: pointer;
		}
	}

	&__social {
		margin-bottom: 48px;
	}

	&__cross {
		svg {
			display: inline-block;
			width: 25px;
			height: 25px;

			fill: white;
		}
	}
}
