.imprint {
	@extend %visuallyhidden;

	position: absolute;

	background-color: white;

	color: #1a1b1c;

	.imprint-open & {
		@extend %visuallshown;
		position: fixed 0;
	}

	&__body {
		@extend %container;
	}
}
