.last-fm {
	position: fixed false $bodyBorder + 10px $bodyBorder + 10px false;
	z-index: 8;

	width: 290px;

	text-align: right;

	h3 {
		font-size: 16px;
		font-weight: 400;

		margin-bottom: 10px;
	}

	figure {
		img {
			display: inline-block;
			vertical-align: middle;

			lost-column: 1/4;
		}

		figcaption {
			display: inline-block;
			vertical-align: middle;

			overflow: hidden;

			lost-column: 3/4;

			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
