.last-fm {
	> a {
		display: inline-block;
		vertical-align: middle;

		text-decoration: none;
	}

	&__name, &__sub {
		color: white;
	}

	&__name {
		font-size: 20px;
	}

	&__sub {
		font-size: 16px;
	}
}
