@import 'base';

%container {
	margin: 0 auto;

	width: 100%;

	@include mscr(1024px) {
		width: calc(100vw * 0.8);
	}
}

@import 'header';

.fold {
	@media print {
		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__content {
		text-align: center;

		@media print {
			text-align: left;
		}
	}
}

.offset-heading {
	display: none;

	@media print {
		display: block;

		text-align: left;

		margin-bottom: 6px;

		border-bottom: 5px solid #B04A60;
	}
}

.calm-bg {
	background-color: #0BB07C;
	color: white;

	@media print {
		background-color: transparent;
		color: inherit;
	}
}

.fold {
	position: relative;

	@import 'folds/experience';
	@import 'folds/about';
}
