@import 'base';

%container {
	margin: 0 auto;

	width: 100%;

	@include mscr(1700px) {
		width: 1690px;
	}
}

.fold {
	&__intro {
		@extend %container;

		@media screen {
			lost-align: center;

			text-align: left;
			height: 95vh;
		}

		h1 {
			text-transform: lowercase;

			font-size: 5rem;
			line-height: 1;

			span {
				color: #B04A60;
			}
		}

		p {
			margin: 0;
		}

		blockquote {
			margin: 0;
			margin-top: 10px;

			line-height: 1;
			font-size: .7rem;

			text-align: right;

			color: darken(#D6DEE1, 20%);

			@media print {
				visibility: hidden;
			}
		}
	}

	&__content {
		@extend %container;

		text-align: center;
	}
}

.pop {
	position: relative;

	&:after, &:before {
		position: absolute 0 0 0 0;
		z-index: -1;

		content: '';
	}

	&:before {
		transform: translate(10%, 10%);
		background-color: #76E3C5;
	}

	&:after {
		transform: translate(-2%, -10%);
		background-color: #E6B6B1;
	}
}

.sway {
	width: calc(100% / 2);

	figure {
		margin: 0;
	}

	figcaption, img {
		display: inline-block;
		vertical-align: middle;
		lost-column: 1/2;
	}

	&--right {
		figcaption {
			text-align: right;
		}
	}
}
