ul.social
	li
		a(href='https://github.com/maraisr', target='_blank', title='Go follow me on GitHub!')
			span GitHub
			+icon("GitHub", "github")
			span.handle /maraisr

	li
		a(href='https://www.linkedin.com/in/maraisr', target='_blank', title='Connect with me on LinkedIn!')
			span LinkedIn
			+icon("LinkedIn", "linkedin")
			span.handle /maraisr

	li
		a(href='https://twitter.com/codervandal', target='_blank', title='Follow me on Twitter!')
			span Twitter
			+icon("Twitter", "twitter")
			span.handle /codervandal
