ul.social
	li
		a(href='https://github.com/maraisr', target='_blank', title='Go follow me on GitHub!') GitHub
			+icon("GitHub", "github")

	li
		a(href='https://twitter.com/codervandal', target='_blank', title='Follow me on Twitter!') Twitter
			+icon("Twitter", "twitter")

	li
		a(href='https://www.linkedin.com/in/maraisr', target='_blank', title='Connect with me on LinkedIn!') LinkedIn
			+icon("LinkedIn", "linkedin")
