{
	"plugins": [
		"stylelint-scss"
	],
	"rules": {
		"scss/at-import-no-partial-leading-underscore": true,
		"scss/at-import-partial-extension-blacklist": [
			"scss",
			"css",
			"sass"
		],
		"scss/dollar-variable-colon-space-after": "always",
		"color-hex-case": "upper",
		"unit-case": "lower",
		"property-case": "lower",
		"declaration-bang-space-after": "never",
		"declaration-bang-space-before": "always",
		"declaration-colon-newline-after": "always-multi-line",
		"declaration-colon-space-after": "always",
		"declaration-colon-space-before": "never",
		"declaration-block-no-duplicate-properties": true,
		"declaration-block-no-ignored-properties": true,
		"declaration-block-semicolon-newline-after": "always",
		"indentation": "tab",
		"no-missing-end-of-source-newline": true,
		"selector-max-empty-lines": 0,
		"max-empty-lines": 1
	}
}
