<div class='container'>
	<h1>
		Marais Rossouw
	</h1>

	<div class='v-stack' style="margin-top: 3rem">
		<p>
			G'day 👋, I am Marais a software enthusiast and open
			sourcer. Working on
			<a href='https://github.com' target='_blank'>GitHub</a>.
		</p>

		<p>
			You see growing up I've always loved the internet and everyting about it, from the content you and I read, to the amazing things other people create with it.
		</p>

		<p>
			I am blessed today to be apart of that.
		</p>

		<p>
			<h3>
				Previously
			</h3>
			<ul>
				<li><a href="https://atlassian.net" target="_blank">Atlassian</a></li>
				<li><a href="https://zip.co" target="_blank">Zip.co</a></li>
				<li><a href="https://autoguru.com.au" target="_blank">AutoGuru</a></li>
			</ul>
		</p>

		<hr />

		<p>
			Find me on <svg><use xlink:href="#icon__github"/></svg> <a href="https://github.com/maraisr" target="_blank">GitHub</a> — <svg><use xlink:href="#icon__twitter"/></svg> <a href="https://twitter.com/slightlycode" target="_blank">Twitter</a>
			<br />
			Chat with me on Discord marais#0001
		</p>

		<p>
			If you like the work I do — please consider sponsoring me on <a href="https://github.com/sponsors/maraisr" target="_blank">GitHub Sponsors</a>!
		</p>
	</div>
</div>