<div class='memoji'>
	<span>

	</span>
</div>

<div class='home-hero'>
	<span>=></span> Howdy, I'm Marais <span>===</span> a passionate <span>}..</span> software engineer and coder of <span>~></span> beautiful things! <span>-<<</span>
	<br />
	<span>&lt;&gt;</span> Have courage and be kind~! <span>&lt;/&gt;</span>
</div>
