@import 'code-style';

.highlight {
	--curtains: 1.5rem;
	--bg: #fff;
	position: relative;
	border-radius: 0.2rem;
	box-shadow: 4px 4px 0px color-mix(in oklab, var(--accent) 40%, var(--bg-colour));
	border: 1px solid var(--accent);
	background: var(--bg);

	font-family: var(--mono);
	font-size: 0.85rem;

	&:where([title]):before {
		content: attr(title);

		border-radius: 0.2rem 0.2rem 0 0;
		display: block;
		position: sticky;
		top: 0;
		padding: 0.6rem var(--curtains);
		border-bottom: 1px solid var(--accent);
		user-select: text;
		color: #363c41;
		font-size: 90%;
		background: var(--bg);
	}
}

.chroma {
	display: block;
	padding-block: 2rem;
	overflow-x: auto;

	code:after {
		content: attr(data-lang);
		display: inline-block;
		position: absolute;
		left: 0;
		text-align: right;
		width: 100%;
		color: #363c41;
		font-size: 0.65rem;
		padding-inline: var(--curtains);
		transform: translate(0.5rem, 0.5rem);
	}

	[data-lang^='sh'] {
		.line {
			&:before {
				content: 'â¯ ';
				font-weight: 700;
				user-select: none;
			}
		}
	}

	.line {
		min-width: max-content;
		padding-inline: var(--curtains);
	}
}

// Inline code blocks
:not(pre) > code {
	color: #4f00d8;
	background-color: #f0e5ff;
	padding: 0.1rem 0.17rem;
	border-radius: 0.2rem;
	font-size: 90%;
}

blockquote code {
	background-color: unset;
	color: unset;
	font-weight: bold;
}
