@import 'code-style';

.code-fence {
	--curtains: 1.2rem;
	--title-height: 42px;
	--bg: #fff;

	position: relative;

	button {
		--size: 30px;
		--inset: calc((var(--title-height) - var(--size)) / 2);

		all: unset;
		display: revert;
		cursor: pointer;

		position: absolute;
		inset: var(--inset) var(--inset) auto auto;

		display: flex;
		width: var(--size);
		height: var(--size);

		background-color: color-mix(in oklab, var(--accent) 40%, white 90%);
		border-radius: 0.2rem;
		place-content: center;
		place-items: center;

		overflow: hidden;

		transition: background-color 0.2s;

		&:hover {
			background-color: color-mix(in oklab, var(--accent) 80%, white);
		}

		&:active {
			background-color: color-mix(in oklab, var(--accent), white);
		}
	}
}

.highlight {
	position: relative;
	border-radius: 0.2rem;
	box-shadow: 4px 4px 0px color-mix(in oklab, var(--accent) 40%, var(--bg-colour));
	border: 1px solid var(--accent);
	background: var(--bg);

	font-family: var(--mono);
	font-size: 0.85rem;

	&[title]:before {
		content: attr(title);

		border-radius: 0.2rem 0.2rem 0 0;
		display: flex;
		place-items: center;
		position: sticky;
		top: 0;
		padding: auto var(--curtains);
		padding-left: var(--curtains);
		border-bottom: 1px solid var(--accent);
		height: var(--title-height);
		user-select: text;
		color: #363c41;
		font-size: 90%;
		background: var(--bg);
	}
}

.chroma {
	display: block;
	padding-block: var(--curtains);
	overflow-x: auto;

	[data-lang^='sh'] {
		.line {
			&:before {
				content: 'â¯ ';
				font-weight: 300;
				user-select: none;
				color: color-mix(in lch, currentColor, white 90%);
			}
		}
	}

	.line {
		min-width: max-content;
		padding-inline: var(--curtains);
	}
}

// Inline code blocks
:not(pre) > code {
	color: #4f00d8;
	background-color: #f0e5ff;
	padding: 0.1rem 0.17rem;
	border-radius: 0.2rem;
	font-size: 90%;
}

blockquote code {
	background-color: unset;
	color: unset;
	font-weight: bold;
}
