@keyframes blink {
	0%,
	to {
		background-color: #0000;
	}
	50% {
		background-color: currentColor;
	}
}

.logo {
	display: inline-flex;
	justify-content: stretch;
	gap: 0.5rem;

	&:before {
		content: '❯ ';
		user-select: none;
	}

	&:after {
		width: 0.5rem;
		background-color: currentColor;

		display: block;
		content: '';
		user-select: none;

		animation: 1s blink step-end infinite;

		@media (prefers-reduced-motion) {
			animation: none;
		}
	}
}

nav {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 3rem 0 2rem;
	font-weight: 700;

	a:not(.logo) {
		display: inline-flex;
		align-items: center;
		gap: 0.35rem;
	}
}

#goo {
	--w: 1000px;
	--bw: 70px;

	position: absolute;
	top: #{'calc(-1 * var(--w) / 2 + var(--bw) - 2px)'};
	left: #{'calc(-1 * var(--w) / 2 + 7px)'};
	z-index: -1;

	width: var(--w);
	aspect-ratio: 1;

	filter: blur(20px) contrast(60);
	mix-blend-mode: multiply;

	background: white;

	span {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate3d(-50%, -50%, 0);

		background: black;
		width: var(--bw);
		aspect-ratio: 1;
		border-radius:100%;

		&:nth-of-type(1) {
			--bw: 87px;
		}
	}
}
