@keyframes blink {
	0%,
	to {
		background: #0000;
	}
	50% {
		background: var(--accent);
	}
}

.logo {
	display: inline-flex;
	justify-content: stretch;
	gap: 0.5rem;

	&:before {
		content: '❯ ';
		user-select: none;
	}

	&:after {
		width: 0.5rem;
		background: var(--accent);

		display: block;
		content: '';
		user-select: none;

		animation: 1s blink step-end infinite;

		@media (prefers-reduced-motion) {
			animation: none;
		}
	}
}

nav {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 3rem 0 2rem;
	font-weight: 700;

	a:not(.logo) {
		display: inline-flex;
		align-items: center;
		gap: 0.35rem;
	}

	svg {
		width: 1rem;
		height: 1rem;
	}
}
