.til-list {
	ul {
		padding: 0;
		margin: 0;
	}

	ul:where(:not(.tag-list)) {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	li {
		margin: 0;
		list-style: none;
	}

	.item {
		position: relative;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr auto;
	    align-items: center;
		gap: 0.25rem 1rem;

		&::before {
			content: '';
			background-color: color-mix(in oklab, var(--accent) 0%, var(--bg-colour));
			position: absolute;
			z-index: -1;
			inset: -0.5rem;
			border-radius: 0.2rem;
			transition: background-color 0.1s;
		}

		&:hover::before {
			background-color: color-mix(in oklab, var(--accent) 40%, var(--bg-colour));
		}
	}

	.v, time {
		justify-self: flex-end;
		font-family: var(--mono);
		font-variant-numeric: tabular-nums;
		font-size: 70%;
	}

	.s, .v, time {
		color: var(--front-colour-light);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.s {
		font-size: 90%;
	}
}
