doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=9;IE=10;IE=Edge,chrome=1")

		title Marais Rossouw | Creative Enthusiast

		// TODO: Fix up this
		meta(name="description", content="Airline software engineer, front end extraordinaire and lover of music!")
		meta(property="og:url", content="http://marais.io/")
		meta(property="og:title", content="A mere software engineer, tackling life one byte at a time.")
		meta(property="og:description", content="Airline software engineer, front end extraordinaire and lover of music!")
		meta(property="og:site_name", content="Marais Rossouw")
		meta(property="og:image", content="http://marais.io/imgs/generic.jpg")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="en_US")
		meta(name="referrer", content="always")

		// TODO: Add Facebook open graph stuff
		// TODO: Add Google stuff
		// TODO: Add Twitter stuff

		link(rel="home", href="http://marais.io/")
		link(rel="canonical", href="http://marais.io/")
		link(rel="shortcut icon", href="imgs/favicon.ico", type="image/x-icon")
		link(rel="icon", href="imgs/favicon.png", type="image/png")

		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

		link(href="main.css", rel="stylesheet")

	body(dir="ltr", itemtype="WebPage")
		meta(itemprop="name", content="Marais Rossouw's Personal Website + Resume")
		meta(itemprop="description", content="A Gold Coast, Australia software engineer and creative developer!")
		meta(itemprop="dateCreated", content=moment.tz(LOC).format())
		meta(itemprop="dateModified", content=moment.tz(LOC).format())

		header.main
			.logo
				h1 Marais
					span .
				p An experienced caffeine consumer!

			nav.navigation(role="navigation")
				ul
					li
						a(href="#about", scroll-to) About
					li
						a(href="#experience", scroll-to) Experience
					li
						a(href="#skills", scroll-to) Skills
					li
						a(href="mailto:hi@marais.io", rel="nofollow") hi@marais.io

		main
			block body

		script(src="main.js")

