doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=9;IE=10;IE=Edge,chrome=1')

		title Marais Rossouw | Creative Enthusiast

		meta(name='description', content='Airline software engineer, front end extraordinaire and lover of music!')
		meta(property='og:url', content='http://marais.io/')
		meta(property='og:title', content='A mere software engineer, tackling life one byte at a time.')
		meta(property='og:description', content='Airline software engineer, front end extraordinaire and lover of music!')
		meta(property='og:site_name', content='Marais Rossouw')
		meta(property='og:image', content='http://marais.io/imgs/generic.jpg')
		meta(property='og:type', content='website')
		meta(property='og:locale', content='en_US')
		meta(name='referrer', content='always')

		link(rel='home', href='http://marais.io/')
		link(rel='canonical', href='http://marais.io/')
		link(rel='shortcut icon', href='imgs/favicon.ico', type='image/x-icon')
		link(rel='icon', href='imgs/favicon.png', type='image/png')

		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')

		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

		link(href='main.css', rel='stylesheet', media='screen')

	body(itemscope, itemtype='http://schema.org/WebPage', dir='ltr')

		.fold
			.fold__intro
				h1 Marais
					span .
