extends ./_layout

mixin timeMix(format, time)
	time.time(datetime=moment.tz(time, LOC).format()) #{moment.tz(time, LOC).format(format)}

mixin timeDif(range)
	+timeMix("MMMM YYYY", range[0])
	| -
	if range[1]
		+timeMix("MMMM YYYY", range[1])
	else
		span.time present

block body

	.fold.fold--no-bg
		.fold__intro
			.fold__intro__wrapper
				h1 Marais
					span .
				p An experienced&nbsp;
					span.pop caffeine consumer
					| !
				blockquote {Try printing me}

	.fold
		.fold__content
			.sway
				ul
					li.sway--right
						figure
							figcaption
								h2.offset-heading About
								p South African creative and application programmer, living in Australia whose highly influcenced by developers like Evan You, and Sébastien Doeraene.

							.handsome
								img(src="img/handsome.jpg", alt="Marais Rossouw looking handsome!")

	.fold
		.fold__content
			.experience
				h2.offset-heading Experience
				ul
					li.experience__item
						article
							header
								h4 Wordpress Developer
								.experience__time
									+timeDif(['2012-01-01', '2012-09-01'])
							main
								i.experience__company Smart-SEO
								p.experience__descr Began my career as a PSD to Wordpress theme developer.

					li.experience__item
						article
							header
								h4 Software Engineer
								.experience__time
									+timeDif(['2013-03-01', '2014-01-01'])
							main
								i.experience__company Vuly Trampolines
								p.experience__descr Later moveed onto be a creative developer for Australias leading trampoline company.

					li.experience__item
						article
							header
								h4 Technical Director
								.experience__time
									+timeDif(['2014-02-01', '2015-05-01'])
							main
								i.experience__company 40/40 Creative
								p.experience__descr Led the company in all technical areas, establishing solid standards and technical direction.

					li.experience__item
						article
							header
								h4 Senior Software Engineer
								.experience__time
									+timeDif(['2015-06-01'])
							main
								i.experience__company Touchpoint
								p.experience__descr Lead frontend developer, and technical initiatives.

	.fold
		.fold__content
