extends ./_layout

mixin timeMix(format, time)
	time.time(datetime=moment.tz(time, LOC).format()) #{moment.tz(time, LOC).format(format)}

mixin timeDif(range)
	+timeMix("MMMM YYYY", range[0])
	| -
	if range[1]
		+timeMix("MMMM YYYY", range[1])
	else
		span.time present

block body

	.fold.fold-intro
		.fold__content
			.fold-intro__body
				h1 Marais
					span .
				p An experienced&nbsp;
					span.pop caffeine consumer
					| !
				blockquote {Print me}

	#content-about.fold.fold-about
		.fold__content
			.fold-about__body
				figure
					.handsome
						img(src="img/handsome.jpg", alt="Marais Rossouw looking handsome!")
					figcaption
						h2.offset-heading About
						p A Gold Coast, Australia based creative and application developer, with over 6+ years experience!

	#content-experience.fold.fold-experience
		.fold__content
			.experience
				h2.offset-heading Experience
				ul
					li.experience__item
						article
							header
								h4 Wordpress Developer
								.experience__time
									+timeDif(['2012-01-01', '2012-09-01'])
							i.experience__company Smart-SEO
							p.experience__descr Began my career as a PSD to Wordpress theme developer.

					li.experience__item
						article
							header
								h4 Software Engineer
								.experience__time
									+timeDif(['2013-03-01', '2014-01-01'])
							i.experience__company Vuly Trampolines
							p.experience__descr Later moveed onto be a creative developer for Australias leading trampoline company.

					li.experience__item
						article
							header
								h4 Technical Director
								.experience__time
									+timeDif(['2014-02-01', '2015-05-01'])
							i.experience__company 40/40 Creative
							p.experience__descr Led the company in all technical areas, establishing solid standards and technical direction.

					li.experience__item
						article
							header
								h4 Senior Software Engineer
								.experience__time
									+timeDif(['2015-06-01'])
							i.experience__company Touchpoint
							p.experience__descr Lead frontend developer, and technical initiatives.
