.cursor-blink {
	position: relative;
	pointer-events: none;
}

.cursor-blink::before {
	position: absolute;
	inset: 0;
	left: 0.5rem;

	width: 0.65rem;
	height: 100%;
	background-color: var(--front-colour-2);

	display: block;
	content: '';

	animation: 1s blink step-end infinite;

	@media (prefers-reduced-motion) {
		animation: none;
	}
}

@keyframes blink {
	from, to {
		background-color: transparent;
	}
	50% {
		background-color: var(--front-colour-2);
	}
}

.logo {
	display: inline-flex;
	font-weight: 400;
}

.logo span {
	color: var(--front-colour-2);
}

header {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 3rem 0 2rem;

	nav {
		ul {
			display: flex;
			align-items: center;
			gap: 0.75rem;
		}

		a {
			display: inline-flex;
			align-items: center;
			gap: 0.35rem;
		}

		svg {
			display: inline-block;
			width: 1rem;
			height: 1rem;
		}
	}

	li {
		list-style: none;
		display: flex;
		align-items: center;
	}
}
