/*@font-face {
	font-family: 'basier-mono';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('./basier.woff2') format('woff2'),
}

@font-face {
	font-family: 'inter';
	font-weight: 100 900;
	font-display: swap;
	font-style: oblique 0deg 10deg;
	src: url("./inter.woff2") format("woff2");
}*/

@import 'styles/reset.css';
@import 'styles/modules.css';

@import 'styles/header.css';
