@font-face {
	font-family: jetbrainsmono;
	font-style: normal;
	font-display: swap;
	font-weight: 300 700;
	src: url('/fonts/jetbrains-mono.woff2') format('woff2');
}

@font-face {
	font-family: quicksand;
	font-style: normal;
	font-display: swap;
	font-weight: 400 700;
	src: url('/fonts/quicksand.woff2') format('woff2');
}
