@font-face {
	font-family: quicksand;
	font-style: normal;
	font-display: swap;
	font-weight: 400 700;
	src: url('/fonts/quicksand.woff2') format('woff2');
}

@import 'reset';

@import 'modules/header';
@import 'modules/til-list';
@import 'modules/code';

@import 'misc';
