// bad thingy

svg {
	display: inline-block;
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
}

.footnote-ref {
	&:before {
		content: '[';
	}

	&:after {
		content: ']';
	}
}

h1:first-child span::before {
	content: ' ~ ';
	color: var(--front-colour-light);
}

.next-prev {
	margin-top: 5rem;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap-reverse;
	justify-content: space-between;

	.prev {
		&:before {
			content: '⬅️ ';
		}
	}

	.next {
		margin-left: auto;
		text-align: right;

		&:after {
			content: ' ➡️';
		}
	}
}

.footnotes {
	font-variant: tabular-nums;
	font-feature-settings: 'tnum';
	font-size: #{'max(14px, 85%)'};

	ol {
		margin: 0;
		padding-inline-start: 1.5em;
		max-width: fit-content;
	}

	li {
		margin: 1rem 0;
	}
}
