// bad thingy

body {
	margin: 0 auto;
	width: 100%;

	@media screen and (min-width: 764px) {
		max-width: 700px;
		margin: 0;
		transform: translateX(15vw);
	}
}

.v-stack {
	& > * {
		&:not(:first-child) {
			margin-top: 1.25rem;
		}
	}

	svg {
		display: inline-flex;
		vertical-align: middle;

		width: 0.9rem;
		height: 0.9rem;
	}
}

footer {
	margin-top: 2rem;
	margin-bottom: 3rem;

	a {
		color: inherit;
		font-weight: 400;
	}
}

@import 'header';

.til-list {
	padding-top: 3rem;

	ul {
		padding-top: 1.75rem;
	}

	li {
		position: relative;
		width: 100%;
		display: flex;
		flex: 1 0 auto;
		gap: 1rem;
		list-style: none;
		justify-content: space-between;

		&:not(:last-child) {
			padding-bottom: 0.75rem;
		}

		&:not(:first-child) {
			padding-top: 0.75rem;

			&::before {
				position: absolute;
				top: 0;
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background-color: #cad2c5;
			}
		}
	}

	a {
		display: block;
		width: 100%;
	}

	time {
		white-space: nowrap;
		align-self: flex-end;
	}
}

.page-title {
	padding-bottom: 2rem;
}

.md-content {
	ul,
	li {
		margin: 0;
		padding: 0;
		padding-left: 1rem;
	}

	p,
	div {
		&:not(:last-child) {
			padding-bottom: 1rem;
		}
	}
}
