.container {
	margin: 0 auto;
	max-width: 75vw;
	width: 100%;
}

.cursor-blink {
	position: relative;
	pointer-events: none;
}

.cursor-blink::before {
	position: absolute;
	inset: 0;
	left: 0.5rem;

	width: 0.65rem;
	height: 100%;
	background-color: white;

	display: block;
	content: '';

	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent;
	}
	50% {
		background-color: white;
	}
}

