.container {
	margin: 0 auto;
	width: 100%;
}

@media screen and (min-width: 764px) {
	.container {
		max-width: 75vw;
	}
}

.cursor-blink {
	position: relative;
	pointer-events: none;
}

.cursor-blink::before {
	position: absolute;
	inset: 0;
	left: 0.5rem;

	width: 0.65rem;
	height: 100%;
	background-color: white;

	display: block;
	content: '';

	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent;
	}
	50% {
		background-color: white;
	}
}

.home-hero {
	font-size: 4vw;
	text-align: justify;
	word-break: break-word;
}

.home-hero {
	font-family: var(--sans-serif);
}

.home-hero span {
	font-family: var(--mono);
	color: aquamarine;
}

.memoji {
	display: flex;
	justify-content: center;
}

.memoji span {
	display: block;
	margin: 5rem 0;

	width: 200px;
	height: 200px;

	background-color: white;

	transform: skewX(7deg);
}
