:root {
	--bg-colour: #fbfaf7;
	--front-colour: #363c41;
	--front-colour-light: #6c737b;

	--link-colour: #00a8e8;
	--accent: 218 242 252;
	--subtle-colour: #fcf4e9;

	--mono: monospace, system-ui, -apple-system;
	--sans-serif: quicksand, system-ui, -apple-system, sans-serif;

	--font-ratio: 0.32; // 🤷‍
	--ideal-font-size: calc(66vw / (60 * var(--font-ratio)));
	--font-size: clamp(14px, var(--ideal-font-size), 18px);
}

*,
:before,
:after {
	color: inherit;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font: 400 var(--font-size) / 1.4 var(--sans-serif);
	font-kerning: normal;
	scrollbar-gutter: stable;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;

	color: var(--front-colour);
	background: var(--bg-colour);
}

body {
	width: 100vw;
	overflow-x: hidden;

	margin: 0 auto;
	padding-inline: 1.6rem;

	@media screen and (min-width: calc(764px + 15vw)) {
		max-width: 700px;
		padding-inline: 0;
		margin: 0 0 0 15vw;
	}
}

h1 {
	font-size: 180%;
	padding: 0;
	margin: 0 0 2.75rem;
}

h2 {
	font-size: 140%;
	padding-top: 1.25rem;
	margin: 0 0 2rem;
}

h3,
h4,
h5 {
	padding-top: 1.25rem;
	font-size: 100%;
	margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
strong {
	font-weight: 700;
}

ol,
ul {
	padding-inline-start: 2em;
	margin: 2em 0;
}

li > ol,
li > ul {
	margin: 0;
}

li {
	margin: 0.5em 0;
}

body > * {
	margin-block: 1rem;
}

a {
	color: var(--link-colour);
	text-decoration: none;
	font-weight: 500;
}

h1,
header {
	a {
		font-weight: inherit;
	}
}

pre,
code {
	font-family: var(--mono);
	font-size: 0.85rem;
	margin: 0;
}

code {
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

blockquote {
	padding: 0 1rem;
	margin: 0;
	color: var(--front-colour-light);
	border-left: 4px solid #{'rgb(var(--accent))'};
	font-style: italic;
}

sup {
	line-height: 0;

	a {
		font-weight: 500;
	}
}

sup,
small,
footer {
	font-size: 80%;
}

small,
footer {
	display: block;
}

footer {
	margin-block-start: 2rem;
	margin-block-end: 3rem;

	a {
		color: inherit;
		font-weight: 400;
	}
}

hr {
	margin: 3rem auto;
	border: none;
	width: 100%;

	&:before {
		content: '•  •  •';
		display: block;
		text-align: center;
	}
}

img {
	max-width: 100%;
	height: auto;
	margin: 1em auto;
	padding: 0 1em;
}
