:root {
	box-sizing: border-box;
	scroll-behavior: smooth;

	--bg-colour: #f8f9fa;
	--front-colour: #4a5759;
	--front-colour-2: 120, 19%, 34%;

	--mono: firacode, monospace, system-ui, -apple-system;
	--sans-serif: quicksand, system-ui, -apple-system, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	color: inherit;
	box-sizing: inherit;
}

html {
	font: 400 16px/1.4 var(--sans-serif);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;

	@media screen and (min-width: 764px) {
		font-size: 18px;
	}
}

body {
	width: 100vw;
	overflow-x: hidden;
	color: var(--front-colour);
	background-color: var(--bg-colour);
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-weight: 700;
	color: #{'hsla(var(--front-colour-2), 100%)'};
}

small {
	display: block;
	font-size: 80%;
}

li {
	list-style-position: inside;
}

hr {
	margin: 3rem auto !important;
	border-top: 1px solid #{'hsla(var(--front-colour-2), 100%)'};
	max-width: 20%;
}

code {
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
