:root {
	box-sizing: border-box;
	--bg-colour: #040506;

	--mono: "JetBrains Mono", system-ui, -apple-system, monospace;
	--sans-serif: Inter, system-ui, -apple-system, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	color: inherit;
	box-sizing: inherit;
}

html {
	font: 400 16px/1.4 var(--mono);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

body {
	width: 100vw;
	overflow-x: hidden;
	color: white;
	background-color: var(--bg-colour);
}

a {
	text-decoration: none;
}

small {
	font-size: 80%;
}
