<header>
	<a class="logo" href="/">
		marais
	</a>
	<nav>
		<a href="/til/">
			<svg>
				<title>today i learned</title>
				<use xlink:href="#icon__coffee"/>
			</svg>
			til
		</a>
		<a href="https://github.com/maraisr" target="_blank">
			<svg>
				<title>@maraisr on GitHub</title>
				<use xlink:href="#icon__github"/>
			</svg>
		</a>
		<a href="https://twitter.com/slightlycode" target="_blank">
			<svg>
				<title>Follow me on twitter @slightlycode</title>
				<use xlink:href="#icon__twitter"/>
			</svg>
		</a>
		<a href="mailto:me@marais.dev">
			<svg>
				<title>Email me at me@marais.dev</title>
				<use xlink:href="#icon__email"/>
			</svg>
		</a>
	</nav>
</header>
