<meta charset="utf-8"/>
<meta content="width=device-width,initial-scale=1" name="viewport"/>

<title>{{ .Page.Title }} · {{ .Site.Title }}</title>

<link rel="canonical" href="{{ .Permalink }}"/>

<meta content="{{ .Summary }}" name="description"/>

<meta content="summary" name="twitter:card"/>
<meta content="@slightlycode" name="twitter:creator"/>

{{ with resources.Get "favicon.png" }}
	<link rel="shortcut icon" href="{{ .RelPermalink }}"/>
{{ end }}

<link rel="preload" href="/fonts/quicksand.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>

{{ with resources.Get "styles/main.scss" }}
   {{- $css := . | resources.ToCSS (dict "includePaths" (slice "node_modules")) -}}
   <style>{{ $css.Content | safeCSS }}</style>
{{ end }}
