<meta name="viewport" content="width=device-width,initial-scale=1"/>

<title>{{ .Page.Title }} · {{ .Site.Title }}</title>
{{ with resources.Get "favicon.png" }}
	<link rel="shortcut icon" href="{{ .RelPermalink }}"/>
{{ end }}

<link rel="canonical" href="{{ .Permalink }}"/>

<meta name="description" content="{{ .Summary }}"/>
<meta name="twitter:creator" content="@slightlycode"/>

{{ if .IsPage }}
{{ partial "og" . }}
{{ end }}

{{ with resources.Get "styles/main.scss" }}
   {{- $css := . | resources.ToCSS (dict "includePaths" (slice "node_modules")) -}}
   <style>{{ $css.Content | safeCSS }}</style>
{{ end }}
