{{ $base := resources.Get "og_base.png" }}
{{ $icon := (resources.Get "favicon.png").Fit "58x58 smart q100" }}

{{ $boldFont := resources.Get "quicksand-bold.ttf" }}
{{ $regularFont := resources.Get "quicksand-regular.ttf" }}

{{ $img := $base.Filter (images.Text (.Page.Title | truncate 28 | plainify) (dict
    "color" "#363C41"
    "size" 64
    "linespacing" 1
    "x" 106
    "y" 148
    "font" $boldFont
))}}
{{ $img = $img.Filter (images.Text (.Page.Summary | truncate 100 | plainify) (dict
    "color" "#363C41"
    "size" 38
    "linespacing" 10
    "x" 106
    "y" 268
    "font" $regularFont
))}}

{{ $img = $img.Filter (images.Overlay $icon 100 466)}}

{{ $img = $img.Filter (images.Text "marais.io" (dict
    "color" "#363C41"
    "size" 40
    "linespacing" 1
    "x" 166
    "y" 466
    "font" $boldFont
))}}

{{ $img = $img.Filter (images.Text (.Page.RelPermalink | plainify) (dict
    "color" "#8A8A8A"
    "size" 40
    "linespacing" 1
    "x" 346
    "y" 466
    "font" $regularFont
))}}

{{ $img = resources.Copy (path.Join .Page.RelPermalink "og.png") $img }}
<meta property="og:image" content="{{ $img.Permalink }}"/>
<meta property="og:image:width" content="{{ $img.Width }}"/>
<meta property="og:image:height" content="{{ $img.Height }}"/>