extends ./layouts/_layout.pug

block content
	main
		.borders
			.borders__edge.borders__edge--top
			.borders__edge.borders__edge--right
			.borders__edge.borders__edge--bottom
			.borders__edge.borders__edge--left
		#vandal
