&-about {
	@extend %fold-height;

	.fold__content {
		@include mscr($stage-d) {
			position: relative;
			top: 50%;

			transform: translate(0, (-1 * (100%) / 2));
		}

		@media print {
			position: static;
			transform: none;
		}
	}

	&__body {
		@extend %container;

		padding-top: 50px;
		padding-bottom: 50px;

		font-family: lora, gerogia, serif;
		text-align: left;
		line-height: 1.3;
		font-size: 20px;

		color: #838B91;

		@include mscr($stage-b) {
			font-size: 28px;
		}

		@include mscr($stage-d) {
			padding-top: 0;
			padding-bottom: 0;
			font-size: 46px;
		}

		@media print {
			width: 100%;
			padding: 0;

			font-size: 16px;
			font-family: inherit;

			color: #1A1B1C;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 22px;

				@media print {
					margin-bottom: 15px;
				}
			}
		}

		.highlight {
			color: #1A1B1C;
			font-weight: 700;

			padding: 0 10px;
			font-size: inherit;

			@media print {
				color: inherit;
				padding: 0 4px;
			}

			&.no-right {
				padding-right: 0;
			}
		}
	}

	&__social, &__last-fm {
		display: inline-block;
		vertical-align: top;

		margin-top: 70px;
		width: 100%;

		@include mscr($stage-c) {
			margin-top: 155px;
		}

		@include mscr($stage-d) {
			lost-column: 1/2;
		}

		@media print {
			display: none;
		}

		h4 {
			font-size: 22px;
			font-weight: 400;
		}
	}

	&__social {
		text-align: center;

		@include mscr($stage-b) {
			text-align: left;
		}
	}

	&__last-fm {
		display: none;
		text-align: center;

		@include mscr($stage-d) {
			display: inline-block;
			text-align: right;
		}
	}
}
