&-experience {
	//@extend .calm-bg;

	font-family: geomanist, verdana, sans-serif;

	overflow: hidden;

	.offset-heading {
		display: block;

		margin-bottom: 20px;
		padding-bottom: 12px;

		font-size: 28px;
		border-bottom: 1px solid white;

		@include mscr($stage-c) {
			display: none;
		}
	}

	.experience {
		@extend %container;

		position: relative;

		padding-top: 70px;

		text-align: left;

		@include mscr($stage-d) {
			display: flex;

			padding-top: 155px;
			padding-bottom: 155px;
		}

		@media print {
			padding: 0;
		}

		> ul {
			display: flex;

			width: 100%;

			flex-flow: column-reverse wrap;

			@include mscr($stage-d) {
				display: block;
			}
		}

		&__item {
			position: relative;

			display: block;
			width: 100%;

			vertical-align: top;

			flex: 1 0 auto;

			&:not(:first-child) {
				margin-bottom: 50px;
			}

			@include mscr($stage-d) {
				display: inline-block;

				height: 100%;

				lost-column: 1/5;

				&:not(:first-child) {
					margin-bottom: 0;
				}

				&:last-child {
					lost-column: 2/5;

					padding-left: 35px;
				}
			}

			@media print {
				&:not(:first-child) {
					margin-bottom: 20px;
				}
			}
		}

		&__time {
			display: block;

			margin-top: 8px;

			font-size: 12px;

			color: #838B91;

			.time {
				&:first-child {
					margin-right: 5px;
				}

				&:last-child {
					margin-left: 5px;
				}
			}
		}

		&__descr {
			line-height: 1.5;

			@include mscr($stage-c) {
				margin-top: 22px;
			}
		}

		&__company {
			display: block;
			margin: 12px 0;

			font-size: 12px;

			@include mscr($stage-c) {
				margin-top: 50px;
			}

			@media print {
				margin: 6px 0;
			}
		}

		&__tags {
			$gap: 3px;

			display: block;
			margin: (-1 * ($gap));
			margin-top: 20px;

			width: 100%;

			@include mscr($stage-d) {
				position: absolute calc(100% + 60px) false false false;

				margin-top: 0;
			}

			li {
				display: inline-block;
				vertical-align: middle;

				margin: $gap;
				padding: 5px;

				text-align: center;
				text-transform: lowercase;
				font-size: 10px;

				background-color: #4C4C4C;
			}
		}
	}
}
